.flavors-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    min-height: 100vh;
}

.all-flavors {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    /* border: 2px solid red; */
}

.flavor-card {
    width: 24%;
    /* border: 2px solid red; */
}

.flavors-page-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fillter select {
    width: 250px;
    height: 40px;
    border: 1px solid var(--gray);
    outline: none;
}