.home-cta-container{
    width: 100%;
    height: 400px;
    /* background: var(--black); */
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets//banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.home-cta-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 25px; */
}
.home-cta-content span{
    font-size: 50px;
    color: var(--white);
    font-weight: 600;
}
.home-cta-content p{
    font-size: 16px;
    color: var(--white);
    font-weight: 400;
}
.home-cta-btn{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.home-cta-btn button{
    width: 160px;
    height: 40px;
    border: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
    border-radius: 5px;
    background: transparent;

}

@media screen and (max-width:700px) {
    .home-cta-content span{
        font-size: 42px;
        text-align: center;
        line-height: 1.3;
        padding-bottom: 10px;
    }
    .home-cta-btn button{
    width: 120px;
    height: 40px;
    border: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
    border-radius: 5px;
    background: transparent;

}
    
}

@media screen and (max-width:500px){
    .home-cta-container{
        padding: 30px;
    }

}