.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px 50px;
}

.logo img {
  width: 80px;
  object-fit: contain;
}

.search {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
  justify-content: space-between;
  background: var(--light-gray);
  border-radius: 5px;
}

.search input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.links span {
  font-size: 18px;
  color: #B3B3B3;
  font-weight: 400;
  cursor: pointer;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.allien {
  display: none;
}

.sidebar {
  position: fixed;
  top: 100;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;

  /* Hidden by default with animation */
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  cursor: pointer;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}

.sidebar-links a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s;
}

.sidebar-links a:hover {
  color: #007bff;
}

.i {
  padding-top: 8px;
}

/* Responsive Styles */
@media screen and (max-width: 1000px) {
  .header-container {
    justify-content: space-between;
  }

  .links {
    display: none;
  }

  .search {
    display: none;
  }

  .allien {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .header-container {
    padding: 10px 30px;
  }

  .header-icons {
    gap: 20px;
  }
}