.home-container {
    display: flex;
    flex-direction: column;
}

.products-fillters {
    width: 100%;
    display: flex;
    background: var(--light-gray);
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.products-fillters p {
    font-size: 25px;
    color: var(--black);
    font-weight: 600;
    text-align: center;
}

.fillters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.fillter-box {
    width: 200px;
    height: 170px;
    background: var(--gray);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fillter-box img {
    width: 80px;
    object-fit: contain;
}

.fillter-box span {
    font-size:18px;
    color: var(--black);
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
}

.products {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    padding-bottom: 70px;
}

.home-product {
    width: 24%;
}

.feature-devices {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 50px 0px;
}

.feature-device {
    width: 25%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #FBFBFB;
    justify-content: space-between;
}

.feature-device-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-device-img img {
    width: 250px;
    object-fit: contain;
}

.feature-device-detail,
.color {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.feature-device-detail span {
    font-size: 25px;
    color: var(--black);
    font-weight: 500;
    text-align: center;
}

.color span {
    font-size: 25px;
    color: var(--white);
    font-weight: 500;
}

.feature-device-detail p, .color p {
    font-size: 16px;
    color: #B3B3B3;
    font-weight: 400;
}

.feature-device-detail button {
    width: 100%;
    background: transparent;
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 5px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.color button {
    width: 100%;
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 5px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.feature-device:nth-child(2) {
    background: #F6F6F6;
}

.feature-device:nth-child(3) {
    background: #EAEAEA;
}

.feature-device:nth-child(4) {
    background: #2C2C2C;
}

.device-info {
    display: flex;
    width: 100%;
    height: 250px;
    background: #F8F8F8;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: -50px;
}

.device-info-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-info-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-info-logo img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.device-info-box span {
    font-size: 20px;
    color: var(--black);
    font-weight: 500;
    text-align: center;
}

.customer-reviews-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.customer-review-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-review-heading span {
    font-size: 30px;
    color: var(--black);
    font-weight: 600;
}

.testimonial-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 0 50px;
}

.testimonial-carousel {
    display: flex;
    gap: 30px;
    width: 100%;
    /* max-width: 1200px; */
    overflow: hidden;
    padding: 20px 20px;
    scroll-behavior: smooth;
}

.testimonial-carousel.transition {
    transition: transform 0.5s ease;
}

.testimonial-slide {
    flex: 0 0 calc(33.333% - 20px);
    text-align: center;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    min-width: 0;
}

.quote-icon {
    font-size: 20px;
    color: #333;
}

.left-quote {
    float: left;
    margin-right: 10px;
}

.right-quote {
    float: right;
    margin-left: 10px;
}

.quote-text {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin: 20px 0;
    clear: both;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.user-info p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.nav {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #aaa;
    transition: 0.3s;
    flex-shrink: 0;
}

.nav:hover {
    color: #000;
}

.view-more-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.view-more-btn button {
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.home-blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}
.home-blog-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-blog-heading span{
    font-size: 30px;
    color: var(--black);
    font-weight: 600;
}
.home-blog-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.home-blog-card{
    width: 25%;
}
.home-blog-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-blog-btn button{
    width: 160px;
    height: 40px;
    background:transparent;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:1124px){

       .testimonial-slide {
    flex: 0 0 100%;
  }
  .testimonial-carousel-container {
    flex-direction: column;
    padding: 0;
  }
    .testimonial-slide {
    padding: 20px;
  }


}
@media screen and (max-width:1024px){
    .fillters{
        justify-content: center;


    }
    .home-product {
    width: 40%;
}
.products{
    justify-content: center;
    gap: 30px;
}
  .home-blog-cards {
    flex-direction: column;
    align-items: center;
  }

  .home-blog-card {
    width: 80%;
  }
  .feature-device {
    width: 35%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #FBFBFB;
    justify-content: space-between;
}





    
}
@media screen and (max-width:659px) {
    .feature-devices {
        flex-wrap: wrap;
   
             justify-content: center;
    }
    .feature-device{
        width: 50%;
        height: 400px;
   

    }
  
    .device-info{
        height: fit-content;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
     
   
}

  .feature-device {
    width: 40%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #FBFBFB;
    justify-content: space-between;
}

.device-info-box{
    width: 100%;
}
.testimonial-slide {
    flex: 0 0 100%;
  }

  .home-blog-cards {
    flex-direction: column;
    align-items: center;
  }

  .home-blog-card {
    width: 80%;
  }

    
}
@media screen and (max-width:639px){
    .feature-devices {
    padding: 30px;
    gap: 30px;
}
    .feature-device {
    width: 100%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #FBFBFB;
    justify-content: space-between;
}

}


@media screen and (max-width:613px){
        .home-product {
          width: 70%;
}
}

@media screen and (max-width:500px){

    .fillter-box {
    width: 140px;
    height: 130px;

}
.device-info{
    padding: 30px;
}

.products-fillters{
    padding: 30px;
    



}
.fillter-box img {
    width: 60px;
    object-fit: contain;
}

.fillter-box span {
    font-size: 16px;
    color: var(--black);
    font-weight: 500;
}


.customer-reviews-section{
    padding: 30px;
}
}
 

    .home-blog-card {
    width: 100%;
  }
.home-blog{
    padding: 30px;
}
.customer-review-heading span{
    font-size: 30px;
    text-align: center;

}
@media screen and (max-width:461px){
            .home-product {
          width: 100%;
}
.products{
    padding: 30px;
    padding-bottom: 60px;
}


}

.fillter-box.active {
  border: 2px solid var(--black);
  background-color: #f0f0f0;
}

.no-flavors-message {
  text-align: center;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #666;
}