.blog-card-container{
    width: 100%;
    height:400px;
    background: #F6F6F6;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.blog-card-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.blog-card-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-card-heading span{
    font-size: 18px;
    color: var(--black);
    font-weight: 500;
}
.blog-card-container p{
    font-size: 16px;
    color: #535862;
    font-weight: 400;
}