.signin-page-main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sign-in-up {
  height: 50%;
  width: 100%;
  background-color: var(--black);
}

.sign-in-down {
  height: 50%;
  width: 100%;
  background-color: var(--white);
}

.signin-box-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  padding: 30px;
  background-color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sigin-in-text{
    
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.sigin-in-text span {
    font-size: 24px;
    font-weight: 550;
    color: var(--blue);
}
.sigin-in-text p {
    font-size: 14px;
    color: var(--light-blue);
}




.google-btn {
margin-top: 5px;
  width: 100%;
  padding: 10px;
  background-color: var(--light-gray);
  border: 1px solid var(--gray);
  border-radius: 8px;
  /* margin-bottom: 20px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: var(--blue);
}

.separator {
  font-size: 14px;
  color: var(--light-blue);
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form label {
  font-size: 16px;
  margin: 8px 0 4px;
}

form input {
  padding: 15px;
  border: 1px solid var(--light-blue);
  border-radius: 15px;
  margin-bottom: 10px;
  outline: none;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-bottom: 15px;
}

.options a {
  color: var(--black);
  text-decoration: none;
}
.options input{
    background-color: var(--black);
}

.sign-in-btn {
  background-color: var(--black);
  color: var(--white);
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.signup-link {
  font-size: 13px;
  /* margin-top: 10px; */
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: start;
}
.signup-link a{
    color: var(--black);
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
}
@media screen and (max-width:480px){
  .signin-box-main{
    width: 330px;
  }
  .signup-link{
    font-size: 12px !important;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
  }
}