/* Existing CSS remains the same */
.cart-main-page{
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}
.cart-main-left-container{
    height: 100%;
    width: 60%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* background-color: aqua; */
}
.shopping-cart-heading{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    /* height: 100px; */
}
.shopping-cart-heading span {
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
}
.cart-box{
    height: 170px;
    width: 100%;
    /* border: 1px solid red; */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    padding: 30px 0px 30px 0px;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-blue);
    /* background-color: aqua; */
}
.product-image{
    height:100% ;
    width: 100px;
}
.product-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.cart-page-product-name{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
}
.cart-page-product-name span {
    font-size: 18px;
    font-weight: 550;
}
.cart-page-product-name p{
    font-size: 16px;
    font-weight: 500;
}
.add-remove-cart-page{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.count{
    height: 34px;
    width: 34px;
    border: 1px solid var(--light-blue);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.minus{
    height: 30px;
    width: 30px;
    border: 1px solid var(--light-blue);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus{
    height: 30px;
    width: 30px;
    border: 1px solid var(--light-blue);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-product-price{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-product-price span {
    font-size: 24px;
    font-weight: 550;
}
.cart-right-main-container{
    height: fit-content;
    width: 35%;
    display: flex;
    border: 1px solid var(--light-blue);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cart-old-summary span{
    font-size: 20px;
    font-weight: 550;
    /* color: var(--blue) */
}
.subtotal-texes-main{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.subtotal{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.subtotal span {
    font-size: 16px;
    font-weight: 550;
}
.subtotal p{
    font-size: 16px;
    font-weight: 550;
}
.cart-product-tex{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.cart-product-tex span{
    font-size: 16px;
}
.cart-product-tex p{
    font-weight: 550;
}
.cart-buttons-main{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.check-out-button button{
    height: 50px;
    width: 130px;
    border-radius: 7px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.open-on-whatsapp-button button{
    height: 50px;
    width: 220px;
    border-radius: 7px;
    border: 1px solid var(--black);
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
}

/* New responsive styles */
@media only screen and (max-width: 1200px) {
    .cart-main-page {
        padding: 30px;
    }
    .cart-right-main-container {
        padding: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .cart-main-page {
        flex-direction: column;
        height: auto;
        gap: 40px;
    }
    .cart-main-left-container {
        width: 100%;
    }
    .cart-right-main-container {
        width: 100%;
    }
    .cart-box {
        height: auto;
        flex-wrap: wrap;
        padding: 20px 0;
        gap: 15px;
    }
    .product-image {
        width: 80px;
        height: 120px;
    }
    .cart-page-product-name {
        width: 50%;
    }
    .add-remove-cart-page {
        order: 1;
        width: auto;
    }
    .cart-product-price {
        order: 2;
        width: auto;
    }
    .cart-page-cross {
        order: 3;
    }
}

@media only screen and (max-width: 768px) {
    .cart-main-page {
        padding: 20px;
    }
    .cart-box {
        padding: 15px 0;
    }
    .cart-page-product-name span {
        font-size: 16px;
    }
    .cart-page-product-name p {
        font-size: 14px;
    }
    .cart-product-price span {
        font-size: 20px;
    }
    .cart-buttons-main {
        flex-direction: column;
        gap: 15px;
    }
    .check-out-button button,
    .open-on-whatsapp-button button {
        width: 200px;
    }
}

@media only screen and (max-width: 576px) {
    .cart-main-page {
        padding: 15px;
    }
    .cart-box {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .product-image {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
    }
    .cart-page-product-name {
        width: 100%;
    }
    .add-remove-cart-page {
        width: 100%;
        justify-content: flex-start;
    }
    .cart-product-price {
        width: 100%;
        justify-content: flex-start;
    }
    .cart-page-cross {
        position: absolute;
        right: 15px;
        margin-top: -40px;
    }
    .cart-right-main-container {
        padding: 15px;
    }
}